{
  "env": {
    "es6": true,
    "mocha": true,
    "node": true
  },
  "extends": ["google", "prettier"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-shadow": "warn",
    "comma-dangle": ["error", "always-multiline"],
    "sort-imports": "error",
    "sort-keys": ["error", "asc", { "natural": true }]
  }
}
